# import reuired libraries and modules 
import warnings 
import sklearn
import pandas as pd
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score, classification_report, recall_score, roc_curve , auc , roc_auc_score
from sklearn.model_selection import train_test_split
fromsklearn.feature_extraction.text import CountVectorizer 